<!DOCTYPE html>
<html>
<head>
	<title>Cerca Film</title>
	<link rel="stylesheet" href="/css/loginAndRegisterStile.css" />
	<link rel="stylesheet" href="/css/stile.css" />
	<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>
	<header class="barraLogin">
		<span>
			<a href="/"> <i class="fa fa-home" aria-hidden="true"></i> </a>
		</span>
		<span th:if="${#request.userPrincipal}">
		<span>
			<a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
		</span>
			<div th:text="${#request.userPrincipal.principal.username}"></div>
		</span>
		<span th:unless="${#request.userPrincipal}">
			<a href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
		</span>
	</header>

	
	<div class="login-form"> 
	<form th:action="@{/searchMovies}" method="post">
		<h1 class="title">Cerca film per anno</h1>
		<div class="input-container"> 
			<div class="input-element"> <input type="text" placeholder="Anno" th:value="${year}" name="year" /> </div>
		</div>
		<div class="input-btn">
			<span><button type="submit">Cerca</button></span>
		</div>
	</form>
	</div>
</body>

</html>