*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
  
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #1b1a1f;
	background-repeat: no-repeat;
	background-position: center top ;
	background-attachment: fixed;
	background-image: url("/images/1154.jpg");
	background-size: cover;
}

.archivio {
	width: 390px;
	min-height: 500px;
	background-color:lightsteelblue;
	padding: 30px;
	border-radius: 15px;
	text-align: center;
	margin: 5%;
}

.archivio .input-btn button{
	width: 100%;
	margin: 35px 0px;
	background-color: lightgray;
	color: black;
	padding: 14px;
	border: none;
	border-radius: 25px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
}

.archivio .input-btn button:hover{
	background-color: #f9f9f9;
	color: black;
}

.title{
	color: black;
	font-size: 38px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
}

.list-element{
	width: 100%;
	padding: 9px;
	margin: 8px 0px;
	background-color: lightgray;
	color: black;
	font-size: 15px;
	border:none;
	border-radius: 25px;
	outline: none;
}


.barraLogin{
	position:fixed;
	top: 0;
	left: 0;
	padding:1%;
	width: 100%;
	background: lightsteelblue;
}


.barraLogin span,
.barraLogin a { 
	text-decoration: none; 
    color: black;
    font-size: 1em;
}

.list{
	text-align: center;
}


.archivio .list-element a { 
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.archivio .list-element a:hover { 
    text-decoration: underline;
}

.archivio .list-element span { 
    color:black;
}











